#título{
    color: #574DBB;
    text-align: center;
    font-size: 60px;
    
}

#filaprincipal{
    background-color: #E2F80B;
    color: #574DBB; 
    text-align: left;
}

#tabla{
    border: black, 1px, solid; 
    margin-left: auto; 
    margin-right: auto;
    width: 25%;
    height: 300px;
    font-size: 18px;
     
}

#boton{
    margin-top: 100px;
    margin-left: 40%;
    background-color: #574DBB;
    color: white;
    text-align:center;
    width: 20%;
    line-height: 50px;
    font-size: 30px;

}